.menu {
    display: flex;
    gap: 72px;
    font-size: 1.25rem;
}

.menu li {
    border-bottom: 4px solid transparent;
    transition: border-color 0.25s;
    text-decoration: none;
}

.menu li:hover {
    color: #e9e6e0a1;
}